@charset "ISO-8859-1";

body {
	background-image:
		url(https://images.unsplash.com/photo-1432821596592-e2c18b78144f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
	background-size: cover;
	font-family: 'Times New Roman', Times, serif;
}

.login {
	overflow: hidden;
	background-color: white;
	padding: 40px 30px 30px 30px;
	border-radius: 10px;
	position: absolute;
	top: 29%;
	left: 30%;
	width: 400px;
}

input {
	font-family: 'Times New Roman', Times, serif;
	display: block;
	border-radius: 5px;
	font-size: 16px;
	background: white;
	width: 100%;
	border: 1px solid thin;
	background-color: transparent;
	padding: 10px 10px;
	margin: 15px -10px;
}

button {
	font-family: 'Times New Roman', Times, serif;
	cursor: pointer;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	width: 80px;
	border: 0;
	padding: 10px 0;
	margin-top: 10px;
	margin-left: 144px;
	border-radius: 5px;
	background-color:rgb(102 16 16 / 86%);
}

button:hover {
	background-color: rgb(58 122 103);;
}

h2{
      font-family:'Times New Roman', Times, serif;
      color: black;
      font-size: 20px;
      width: 100px;
      margin-bottom: 20px;
      margin-left: 129px;
      
   }